# AdwaitaSpectrum 2.0. Original/adapted skin text, CC-BY-SA 3.0.
# See /.rockbox/themes/AdwaitaSpectrum/licenses/ATTRIBUTION.txt
# AI-assisted with OpenAI Codex, 2026-10-08.
# Appearance only: preserves navigation, audio, backlight and spectrum motion/gain.
wps: /.rockbox/wps/AdwaitaSpectrum-Detail.wps
sbs: /.rockbox/wps/AdwaitaSpectrum.sbs
font: /.rockbox/fonts/AdwaitaSpectrum-18Regular.fnt
foreground color: 292829
background color: f6f5f4
line selector start color: 3584e4
line selector end color: 3584e4
line selector text color: f6f5f4
selector type: bar (color)
statusbar: off
scrollbar: off
show icons: off
iconset: -
viewers iconset: -
backdrop: -
ui viewport: -
spectrum enabled: on
