# WinampSpectrum 2.0. Original/adapted skin text, CC-BY-SA 3.0.
# See /.rockbox/themes/WinampSpectrum/licenses/ATTRIBUTION.txt
# AI-assisted with OpenAI Codex, 2026-10-08.
# Appearance only: preserves navigation, audio, backlight and spectrum motion/gain.
wps: /.rockbox/wps/WinampSpectrum-Visualizer.wps
sbs: /.rockbox/wps/WinampSpectrum.sbs
font: /.rockbox/fonts/WinampSpectrum-14.fnt
foreground color: deded2
background color: 20212b
line selector start color: 80ef56
line selector end color: 80ef56
line selector text color: 20212b
selector type: bar (color)
statusbar: off
scrollbar: off
show icons: off
iconset: -
viewers iconset: -
backdrop: -
ui viewport: -
spectrum enabled: on
